/* .projectsContainer {

} */

.project {
  display: flex;
  gap: 2rem;
}

.projectImage {
  width: 200px;
  height: 200px;
}

.rightContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.projectTitle {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  transition: transform 0.3s ease;
  cursor: pointer;
  display: flex;
}

.linkIcon {
  width: 1.4rem;
  height: 1.4rem;
  margin-left: 0.5rem;
  margin-top: 0;
}

.projectTitle:hover {
  transform: translateX(1.2rem);
  color: var(--gray);
}

.projectDescription {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-family: "Courier";
}

.projectSkills {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 0.8rem;
}

.projectSkillWrapper {
  border-radius: 1rem;
  background-color: var(--white);
  display: flex;
  padding: 0.5rem 0.8rem; /* space inside the card */
  transition: 0.3s ease;
}

.projectSkillWrapper:hover {
  transform: scale(1.05); /* slightly enlarge the card on hover */
  box-shadow: 0 4px 6px var(--lightgray); /* intensify shadow on hover */
}

.projectSkill {
  font-family: "Courier";
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 0;
}

/* media query for screens smaller than 480px */
@media (max-width: 480px) {
  .project {
    flex-direction: column; /* stack date above rightWrapper */
    gap: 0.5rem;
    margin-bottom: 2.2rem;
  }

  .projectImage {
    flex: unset; /* remove reserved width */
    margin-bottom: 0.5rem;
    align-self: center;
  }
}
